@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
background-color: rgb(82, 82, 82);
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background-color: tomato;
    padding: 10px;
}
nav img{
    width: 100px;
    height: 8vh;
    transition: 350ms ease;
}
nav img:hover,span a:hover{
    transform: scale(1.1);
}
span{
display: flex;
justify-content: space-between;
align-items: center;
}
span a{
    margin-left: 40px;   
    transition: 350ms ease;
}

a { 
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size:x-large;
}
.flex{
    display: flex;
    width: auto;
    flex-wrap: wrap;
}
aside{
    width: 25%;
    height: auto;
    background-color: rgb(99, 99, 99)
    ;
}
main{
    width: 80%;

}

aside input, aside label{        
    cursor: pointer;
}
aside div{
    padding: 10px;
    height: fit-content;
}
aside button{
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 60px;
    align-items: center;
    background-color: rgb(99, 99, 99);
    color: white;
    border: 1px solid white;
    transition: 350ms ease;
}
aside button:hover{
    transform: scale(1.02);
}
aside{
    color: white;
        font-size: large;
        display: flex;
        flex-wrap: wrap;
}
aside p{
    height: fit-content;
    margin: 4px;
}
aside > * {
    flex: 1 1 100%;}









@media only screen and (max-width: 800px) {
    aside{
        width: 100%;
              
    }}