@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
background-color: rgb(82, 82, 82);
margin: 0;
font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background-color: tomato;
    padding: 10px;
}
nav img{
    width: 100px;
    height: auto;
    transition: 350ms ease;
}
nav img:hover,span a:hover{
    transform: scale(1.2);
}
span{
display: flex;
justify-content: space-between;
align-items: center;
}
span a{
    margin-left: 40px;   
    transition: 350ms ease;
}

a { 
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size:x-large;
}
